<mat-toolbar color="primary" class="d-flex mat-elevation-z6">
  <mat-toolbar-row class="justify-content-between">
    <span>Ricette</span>
    <span></span>
    <div class="search">
      <button mat-icon-button aria-label="" (click)="searchbar=!searchbar">
          <mat-icon>search</mat-icon>
        </button>
              <div class="searchbar">
                <ng-template class="temp" [ngIf]="searchbar">
                  <input type="text">
                </ng-template>
              </div>
</div>
    <div>
      <button routerLink="/ricetta-sottolista" routerLinkActive="router-link-active" mat-icon-button aria-label="Lista">
        <mat-icon>view_list</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <app-ricetta-sottolista></app-ricetta-sottolista> -->

<router-outlet></router-outlet>
