<main>
  <div class="container">
    <ng-template [ngIf]="ricetta">
      <div class="container">
        Titolo: {{ ricetta.titolo }}
        <br>
        Materiali: {{ ricetta.materiali }}
        <br>
        <br>Tag: {{ ricetta.tag }}
      </div>
      <mat-vertical-stepper #stepper (selectionChange)="changStep($event)">
        <ng-template matStepperIcon="edit">
          <mat-icon>
            next
          </mat-icon>
        </ng-template>
        <mat-step *ngFor="let step of ricetta.steps; let i = index">
          <ng-template matStepLabel>
            <span>{{ step.titolo }}</span>
          </ng-template>
          Procedura:<br />
          {{ step.descrizione }}
          <div>
            <button
              *ngIf="i > 0 && !stepSelezionato"
              mat-button
              matStepperPrevious
            >
              Indietro
            </button>
            <button
              *ngIf="i < ricetta.steps.length - 1"
              mat-button
              matStepperNext
            >
              Avanti
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </ng-template>
  </div>
</main>
